html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;
    outline: none;
    text-align:center;
list-style: none;}
html, body {
    min-height: 100%;
}
a{
    text-decoration: none;
    color:inherit; 
}